.btn {
  position: relative;

  width: 100%;
  max-width: 300px;
  padding: 0.5em;
  margin: 10px;

  border: 2px solid var(--secondary-color);
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
  background: transparent;
  transition: border-color 0.4s ease-in-out;
}

.btn:hover {
  border-color: rgba(36, 36, 36, 0.753);
}

.btn span {
  position: relative;
  z-index: 3;
  transition: 0.3s ease all;
  pointer-events: none;
}

.background {
  position: absolute;
  top: -250px;
  left: 0;
  width: 100%;
  height: 250px;
  z-index: 1;
  background: #ccae62;
  transition: 0.4s ease-in-out all;
  border-radius: 0px 0px 300px 300px;
}

.btn:hover .background {
  top: 0;
}
