<header class="header">
  <div class="header__deploy-menu" id="header__deploy-menu">
    <span class="header__bar"></span>
    <span class="header__bar"></span>
    <span class="header__bar"></span>
  </div>
  <a class="header__logo" routerLink="/home">
    <h2  class="header__logo-title">Daily</h2>
  </a>
  <nav class="header__nav">
    <ul class="header__menu">
      <li *ngFor="let option of MENU_OPTIONS" id="{{ option.id }}">
        <a
          href="#"
          class="header__link"
          routerLink="{{ option.id }}"
          routerLinkActive="header__link--active"
        >
          <span>{{ option.title | uppercase }}</span>
        </a>
      </li>
    </ul>
  </nav>
  <div class="header__user">
    <span>{{userName}}</span>
    <button *ngIf="isLognin" (click)="logout()" class="btn">Sign out</button>
    <div class="header__avatar"></div>
  </div>
</header>
