<header class="header">
  <div class="header__deploy-menu" id="header__deploy-menu">
    <span class="header__bar"></span>
    <span class="header__bar"></span>
    <span class="header__bar"></span>
  </div>
  <a href="#" class="header__logo">
    <h1 class="header__logo-title">Daily</h1>
  </a>
  <nav class="header__nav">
    <ul class="header__menu">
      <li *ngFor="let option of MENU_OPTIONS" id="{{ option.id }}">
        <a
          href="#"
          class="header__link"
          routerLink="{{ option.id }}"
          routerLinkActive="header__link--active"
        >
          <span>{{ option.title.toUpperCase() }}</span>
        </a>
      </li>
    </ul>
  </nav>
  <div class="header__user">
    <div class="header__avatar"></div>
  </div>
</header>
