<header class="header">
  <div class="header__head">
    <div class="toggle__menu" #toggle__menu (click)="toggleMenu()">
      <span class="toggle__line"></span>
      <span class="toggle__line"></span>
      <span class="toggle__line"></span>
    </div>
    <a class="logo" routerLink="/home">Daily</a>
  </div>

  <ul class="header__menu" #header__menu>
    <li *ngFor="let option of MENU_OPTIONS">
      <a
        class="menu__link"
        routerLink="{{ option.id }}"
        routerLinkActive="menu__link--active"
      >
        {{ option.title | uppercase }}
      </a>
    </li>
  </ul>

  <div class="header__user">
    <span>{{ userName }}</span>
    <button type="button" *ngIf="isLognin" (click)="logout()" class="btn">
      Sign out
    </button>
    <img
      class="header__avatar"
      src="./../../../assets/icons/account_circle_black_24dp.svg"
      alt="user"
    />
  </div>
</header>
