<form
  [formGroup]="signupForm"
  (ngSubmit)="signup()"
  class="form"
  autocomplete="off"
>
  <h4 class="form__title">Signup</h4>

  <label for="name" class="form__label">Name</label>
  <input
    id="name"
    type="name"
    placeholder="example@gmail.com"
    formControlName="name"
  />
  <div *ngIf="isValid('name')" class="invalid__feedback">
    The name length must be between 3 and 100 characters.
  </div>

  <label for="email" class="form__label">Email</label>
  <input
    id="email"
    type="email"
    placeholder="your.email.here@gmail.com"
    formControlName="email"
  />
  <div *ngIf="isValid('email')" class="invalid__feedback">
    The email format is invalid.
  </div>

  <label for="password" class="form__label">Password</label>
  <input
    id="password"
    type="password"
    formControlName="password"
    placeholder="****"
  />
  <div *ngIf="isValid('password')" class="invalid__feedback">
    The password length must be between 8 and 50 characters.
  </div>

  <div class="form__actions">
    <button #submit type="submit" hidden></button>
    <util-btn
      title="Signup"
      [color]="btnSignupColor"
      (clickEvent)="submit.click()"
    ></util-btn>
  </div>
  <br />
  <div *ngFor="let error of errors" class="invalid__feedback">
    {{ error | titlecase }}
  </div>
</form>
<br />
<br />
<div class="signup">
  <span class="signup"> Have you account? </span>
  <a routerLink="/auth/signin" class="txt2"> Signin here.</a>
</div>
