<form
  [formGroup]="activityForm"
  (ngSubmit)="saveChanges()"
  class="form"
  autocomplete="off"
>
  <label for="icon" class="form__label">Icon</label>
  <input
    id="icon"
    type="text"
    placeholder="🙂"
    formControlName="icon"
    [readonly]="isActionView"
  />

  <label for="title" class="form__label">Title</label>
  <input
    id="title"
    type="text"
    formControlName="title"
    placeholder="breakfast..."
    [readonly]="isActionView"
  />

  <label for="start" class="form__label">Start hour</label>
  <input
    id="start"
    type="time"
    formControlName="startTime"
    [readonly]="isActionView"
  />

  <label for="duration" class="form__label">Duration</label>
  <input
    id="duration"
    type="time"
    formControlName="durationTime"
    [readonly]="isActionView"
  />

  <div class="form__actions">
    <div *ngIf="isActionView; then view; else newAndEdit"></div>
    <ng-template #newAndEdit>
      <button #submit type="submit" hidden></button>
      <util-btn
        title="Save"
        [color]="btnSaveColor"
        (clickEvent)="submit.click()"
      ></util-btn>
      <util-btn
        title="Cancel"
        [color]="btnCancelColor"
        (clickEvent)="cancelOperation()"
      ></util-btn>
    </ng-template>
    <ng-template #view>
      <util-btn
        title="Edit"
        [color]="btnEditColor"
        (clickEvent)="editActivity()"
      ></util-btn>
      <util-btn
        title="Delete"
        [color]="btnDeleteColor"
        (clickEvent)="toggleModal()"
      ></util-btn>
    </ng-template>
  </div>
</form>
<br />
<br />
<!-- <span>Form {{ activityForm.value | json }} </span> -->
<util-btn
  *ngIf="isActionView"
  title="Close"
  [color]="btnCloseColor"
  (clickEvent)="closeView()"
></util-btn>

<util-modal
  *ngIf="isActionDelete"
  [data]="deleteModalData"
  (clickEvent)="clickModal($event)"
></util-modal>
