.routine {
  width: 100%;
  max-width: var(--max-with-routine-view);
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 0;

  list-style: none;
}

.activity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  width: 80%;
  padding: 0 1em;
  box-sizing: border-box;

  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.activity--active {
  font-size: 1.5em;
  width: 100%;
  background-color: var(--active-color);
}

.activity__icon,
.activity__title,
.activity__time {
  text-decoration: none;
  line-height: 1.5em;
  font-size: var(--font-size-caption);
  color: var(--black-color);

  pointer-events: none;
}

.activity__icon {
  border-radius: 50%;
}

.activity__title {
  flex-grow: 1;
  padding: 0 0.5em;
}
