:root {
  --black-color: #000000;
  --white-color: #ffffff;

  --primary-color: #ffda79;
  --primary-color2: #fb9a34;
  --secondary-color: #ccae62;
  --active-color: #cc8e35;

  /* Fonts */
  --font-family-body: "Montserrat", sans-serif;
  --font-family-title: "Raleway", sans-serif;
  --font-size-title: 2em;
  --font-size-caption: 0.9em;

  /* Sizes*/
  --max-with-content: 30em;

  /* Toggle menu properties */
  --delay-toggle-menu: 0.4s;
  --width--toggle-menu: 30px;
}

.body {
  font-size: 20px;
  font-family: var(--font-family-body);
  font-weight: bold;
  color: var(--black-color);
  background-color: var(--primary-color);
}

/** Limit content **/
.content {
  width: 100%;
  max-width: var(--max-with-content);
  margin: 0 auto;
  text-align: center;
}

/** FORMS **/
.form {
  max-width: max-content;
  box-sizing: border-box;
  padding: 10px;
  text-align: start;
  align-self: c;
  margin: 0 auto;
}

.form__title {
  text-align: center;
}

.form__label {
  display: block;
  padding: 1em 0 0.5em 0;
}

input {
  padding: 0.25em 0.5em;
  background-color: transparent;
  border: 2px solid var(--secondary-color);
  border-radius: 4px;
}

input:focus {
  border-color: var(--active-color);
  box-shadow: 0 0 2px 1px var(--active-color);
  outline: 3px solid transparent;
}

input:read-only:focus {
  border: 2px solid var(--secondary-color);
}

.form__actions {
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  padding-top: 2em;
}

.invalid__feedback {
  max-width: 210px;
  color: red;
  font-size: 0.9em;
  line-height: 1.5em;
}

/* Laptop */
@media only screen and (max-width: 1100px) {
  .body {
    font-size: 18px;
  }
}

/* Tablet */
@media only screen and (max-width: 950px) {
  .body {
    font-size: 16px;
  }
}

/* Mobile */
@media only screen and (max-width: 630px) {
  .body {
    font-size: 14px;
  }
}

/* Scrollbar hiden */
::-webkit-scrollbar {
  display: none;
}
