<form
  [formGroup]="signinForm"
  (ngSubmit)="signin()"
  class="form"
  autocomplete="off"
>
  <h4 class="form__title"> Signin </h4>

  <label for="email" class="form__label">Email</label>
  <input
    id="email"
    type="email"
    placeholder="example@gmail.com"
    formControlName="email"
  />
  <div *ngIf="isValid('email')" class="invalid__feedback">
    The email is invalid.
  </div>

  <label for="password" class="form__label">Password</label>
  <input
    id="password"
    type="password"
    formControlName="password"
    placeholder="****"
  />
  <div *ngIf="isValid('password')" class="invalid__feedback">
    The password is not correct.
  </div>

  <div class="form__actions">
      <button #submit type="submit" hidden></button>
      <util-btn
        title="Signin"
        [color]="btnSigninColor"
        (clickEvent)="submit.click()"
      ></util-btn>
  </div>
  <br />
<div *ngFor="let error of errors" class="invalid__feedback">
    {{error | titlecase}}
  </div>
</form>

<br />
<br />

<div class="signup">
  <span class="signup"> Have you account? </span>
  <a routerLink="/auth/signup" class="txt2"> Signup here. </a>
</div>
