<article class="info">
  <section class="info__phrase">
    <span class="phrase__letter">D</span>
    <span class="phrase__letter">O</span>
    <span class="phrase__letter phrase__letter--blur">N</span>
    <span class="phrase__letter phrase__letter--blur">'</span>
    <span class="phrase__letter phrase__letter--blur">T</span>
    <br />
    <span class="phrase__letter phrase__letter--blur">Q</span>
    <span class="phrase__letter phrase__letter--blur">U</span>
    <span class="phrase__letter">I</span>
    <span class="phrase__letter">T</span>
    <span class="phrase__letter">!</span>
  </section>
  <p class="info_desciption">
    Estructurad vuestras vidas y utilizad vuestras valiosas
    horas en las actividades importantes.
  </p>
  <img
    loading="lazy"
    src="./../../assets/imgs/preview.png"
    alt="Preview of daily app"
    class="info__preview"
  />
</article>
