/* * {
  border: 1px solid red;
} */

.info {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5em;
}

.info::after {
  content: "";
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 400px;
  z-index: -1;
  border-radius: 40px 40px 0 0; /* 50% 50% 50% 50% / 100% 100% 0% 0%; */
  background-color: var(--secondary-color);
}

.info__phrase {
  user-select: none;
}

.phrase__letter {
  font-size: 9em;
  line-height: 1em;
  font-family: var(--font-family-title);
  color: var(--active-color);
}

.phrase__letter--blur {
  filter: blur(15px);
}

.info_desciption {
  max-width: 21em;
  padding-top: 1em;

  text-align: center;
  line-height: 1.5em;
}

.info__preview {
  width: 70%;
  margin: 3em 0;

  object-fit: cover;
  /* border: 3px solid var(--black-color); */
  border-radius: 10px;
  box-shadow: 0 0 7px rgba(51, 51, 51, 0.51);
}

@media only screen and (max-width: 600px) {
  .phrase__letter {
    font-size: 4em;
  }
  .phrase__letter--blur {
    filter: blur(8px);
  }
}

/*
.info__date {
  overflow: hidden;
  grid-area: date;
  padding: 0.5em;
}

.date__date {
  margin: 0.3em 0;
  color: var(--gray);
  font-family: var(--font-family-title);
  font-size: var(--font-size-caption);
}

.date__date--today {
  color: var(--white);
  font-size: var(--font-size-title);
  position: relative;
  display: inline-block;
}

.date__date--today::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 45%;
  width: 5em;
  height: 2px;
  background: var(--red);
}
*/

/* @media only screen and (max-width: 992px) {
  body {
    font-size: 16px;
  }
}

@media only screen and (mix-width: 768px) {
  body {
    font-size: 14px;
  }
} */
