.info {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5em;
}

.info__phrase {
  user-select: none;
}

.phrase__letter {
  font-size: 9em;
  line-height: 1em;
  font-family: var(--font-family-title);
  color: var(--active-color);
}

.phrase__letter--blur {
  filter: blur(15px);
}

.info_desciption {
  max-width: 21em;
  padding-top: 1em;

  text-align: center;
  line-height: 1.5em;
}

.info__preview {
  width: 70%;
  aspect-ratio: 1;
  margin: 3em 0;

  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 7px var(--secondary-color);
  background-color: var(--secondary-color);
}

@media only screen and (max-width: 600px) {
  .phrase__letter {
    font-size: 4em;
  }
  .phrase__letter--blur {
    filter: blur(6px);
  }
}
